<?xml version="1.0"?>
<config>
    <modules>
        <ProxiBlue_JumpToCatId>
            <version>1.0.0</version>
        </ProxiBlue_JumpToCatId>
    </modules>
    <adminhtml>
        <layout>
            <updates>
                <jumptocatid>
                    <file>jumptocatid.xml</file>
                </jumptocatid>
            </updates>
        </layout>
    </adminhtml>
</config>
