<?xml version="1.0"?>
<config>
    <modules>
        <ProxiBlue_JumpToCatId>
            <version>0.0.1</version>
        </ProxiBlue_JumpToCatId>
    </modules>
    <stores>
        <admin>
            <design>
                <theme>
                    <default>proxiblue</default>
                </theme>
            </design>
        </admin>
    </stores>
    <adminhtml>
        <layout>
            <updates>
                <jumptocatid>
                    <file>jumptocatid.xml</file>
                </jumptocatid>
            </updates>
        </layout>
    </adminhtml>
</config>
